body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h5,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.neader {
  background-color: #ffffff;
  display: flex;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e7e9fc;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo-webstudio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.span-logo {
  color: #2e2f42;
}

.nav-header {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 332px;
}

.nav-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

.nav-menu:hover .nav-menu:focus {
  color: #404bbf;
}

.address-header,
.header-contacts {
  font-style: normal;
}

.contact-list {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 0;
}

.header-contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-contacts:hover,
.header-contacts:focus {
  color: #404bbf;
}

.hero-title {
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 48px;
  white-space: nowrap;
  display: flex;
  white-space: pre-wrap;
}

.hero-section {
  background-color: #2e2f42;
}

.hero-container {
  padding-top: 188px;
  padding-bottom: 188px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-hero {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  border: none;
  gap: 10px;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  white-space: nowrap;
}

.button-hero:hover,
.button-hero:focus {
  background: #404bbf;
}

.advantages-list {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #2e2f42;
}

.descr-advantages {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}

.team {
  background-color: #f4f4fd;
}

.team-list {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-background {
  background-color: #ffffff;
}

.team-name {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #2e2f42;
}

.team-prof {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-descr {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}

.footer-container {
  background-color: #2e2f42;
}

.fotter-paragraph {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

.span-logo-down {
  color: #f4f4fd;
}
